@charset "UFT-8";

:root {
    --cor0:#F1FAEE;
    --cor1:#8ADAFF;
    --cor2:#68ABCE;
    --cor3:#457B9D;
    --cor4:#314C5D;
    --cor5:#1D1D1D;

    --fonte-padrao:arial, verdana, helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    background-image: url(imagens/fundo-de-tela.jpg) ;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(to right, var(--cor2), var(--cor4));
    text-align: center;
    padding: 40px;
}

header > h1 {
    color:white ;
    font-family: sans-serif;
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: rgba(0, 0, 0, 0.267);
    font-weight: bold;
}

nav {
    background-image: linear-gradient(to right, var(--cor2), var(--cor4));
    padding: 10px;
    box-shadow: 0px, 7px, 7px rgba(0, 0, 0, 0.363);
}

nav > a {
    color: var(--cor0);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color:var(--cor3);
    color:var(--cor5);
}

main {
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color:var(--cor4) ;
    font-family: var(--fonte-destaque);
    font-weight: bolder;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-destaque);
    color:var(--cor4) ;
    font-size: 1.5em;
    background-image:linear-gradient(to right, var(--cor1), transparent) ;
    text-indent: 10px;
    font-weight: bold;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color:black ;
    font-weight: bolder;
}

main img {
    width: 100%;
    margin-bottom: 10px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-image:linear-gradient(to right, var(--cor1), var(--cor0)) ;
    padding: 2px 6px;
}

footer {
    background-color: rgb(27, 27, 27);
}

footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    color: white;
    padding: 15px;
}